# LoopTools — injectado automaticamente no provisioning
NEXT_PUBLIC_ORGANIZATION_ID=
NEXT_PUBLIC_ORGANIZATION_NAME=
NEXT_PUBLIC_ORGANIZATION_SLUG=
NEXT_PUBLIC_LOOPTOOLS_SYSTEM=true

# Admin inicial — LoopTools injecta com os dados do comprador
INITIAL_ADMIN_EMAIL=
INITIAL_ADMIN_PASSWORD=
INITIAL_ADMIN_NAME=

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
